# =========================================================================
# Target (Arquivos gerados pelo build do Maven)
# =========================================================================
target/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# =========================================================================
# IntelliJ IDEA (Configurações locais da IDE)
# =========================================================================
.idea/
*.iws
*.iml
*.ipr
out/
.idea_modules/

# =========================================================================
# Arquivos de log e relatórios temporários do seu Script de Carga
# =========================================================================
*.log
curl_results.log

# =========================================================================
# Arquivos do Sistema Operacional (Windows / macOS)
# =========================================================================
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.AppleDouble
.LSOverride

# =========================================================================
# Crash dumps do Java
# =========================================================================
hs_err_pid*
replay_pid*
:wq!
:wq!

